.lottery-avatar-enter {
  opacity: 0;
  transform: translateX(-200px);
}

.lottery-avatar-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 100ms, opacity 150ms;
}

.lottery-avatar-exit {
  opacity: 1;
  /* transition: all 500ms; */
}

.lottery-avatar-exit-active {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 100ms, opacity 150ms;
}

/* 
.lottery-avatar {
  transform: translateX(-50px);
} */

.moveToList {
  /* top: 200px; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#fireWork {
  top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.content-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absoluteMiddle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.border-Paper {
  border: 3px solid #00FF00;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.prizeLow {
  padding: 0 20px;
  display: inline-block;
}

.images-containter {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.section-break-2 {
  background-color: transparent;
  border: 0;
  border-top: 1px solid #c8c8c8;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 80%;
}

.section-break-2:before {
  background-color: transparent;
  color: #FFFFFF;
  content: "\25C8";
  display: inline-block;
  font-size: 20px;
  left: 50%;
  letter-spacing: 0;
  line-height: 1;
  text-indent: -1px;
  text-rendering: geometricPrecision;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  width: 15px;
}

.sb small {
  background: slategray;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
  left: 50%;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: opacity 1s ease-out, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s ease-out, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s ease-out, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s ease-out, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 5;
}


.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.phoneQR-roll-img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: -5%;
  bottom: 0;
  height: 70%;
}

.banner-left {
  height: 3em;
  margin-left: 2em;
}

.banner-right {
  width: 40%;
}

.mainRoll-img {
  width: 150px;
  height: 150px;
}

.prize-container {
  transition: 0.5s all ease-in-out;
  background-color: rgba(255, 255, 255, 0.8) !important;
}


.rollBtn-container .roll-btn,
.rollBtn-container .roll-btn-gradient {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
  animation: anime 16s linear infinite;
}

.rollBtn-container .roll-btn-gradient {
  position: absolute;
  margin-top: -70px;
  z-index: -1;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  opacity: 0.8;
}

@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}